header {
    position: sticky;
    top: 0;
    z-index: 1;
}

body {
    margin: 0;
    background: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
}

.page {
    margin: 0;
    background: #ffffff;
    height: auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

h1 {
    text-align: center;
    color: #6d049eff;
    margin-bottom: 40px;
    font-weight: 500;
    padding-top: 30px;
}

h2{
    letter-spacing: 3px;
    padding: 12px;
    text-align: center;
    color: #aaa;
}

h3 {
    text-align: center;
    color: #6d049eff;
    margin-bottom: 0px;
    font-weight: 500;
    padding-top: 0px;
}


#email{
    font-size: 25px;
    letter-spacing: 3px;

}

#social-icons{
    height: 35px;
}
 