html{
    scroll-behavior: smooth;
}

.music-menu {
    padding-top: 64px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    position: sticky;
    background-color: #a389b1;
    height: 25px;
    
}

.music-menu a{
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    
}

.music-menu a:hover{
    text-decoration: underline;
}

.music-page-new{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40px;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.music-page-hot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.music-page-hot-mini{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    background-image: url('');
}

.nav-menu-textbox{
    width: 100%;
    position: absolute;

}

#music-page-new{
    scroll-margin-top: 150px;
}

#music-page-hot{
    scroll-margin-top: 90px;
}

#music-page-playlists{
    scroll-margin-top: 90px;
}

.playlist-title{
    width: 100%;
    text-align: center;
    color: #6d049eff;
    font-weight: 500;
    font-size: 25px;
    z-index: 0;
    position: absolute;
}

#music-page-artists{
    scroll-margin-top: 40px;
}

.artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 60px;
    width: 100%;
    padding-top: 80px;
}

    .artists img{
    height: 280px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    }

    .artist-name{
    font-size: 25px;
    color: #6d049eff;
    text-align: center;
    width: 100%;
    }

    .artist-description{
    font-size: 18px;
    font-weight: 100;
    color: #4d4d4d;
    text-align: center;
    width: 200px;
    }

    .playlist-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    }    

@media (min-width: 8000px){
    .music-menu {
    padding-top: 58px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    position: sticky;
    background-color: #ba9dc7;
    height: 25px;
}

}
    
