<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    >
    <link 
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap" 
      rel="stylesheet"
    >
    <link rel="stylesheet" href="css/paralax-bg.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/navigation-bar.css">
    <link rel="stylesheet" href="../css/copyright.css">
    <link rel="stylesheet" href="../css/photo-strip.css">
    <link rel="stylesheet" href="../css/music-cards.css">
    <link rel="stylesheet" href="css/lobby-logo.css">
    <link rel="stylesheet" href="../css/merch-shop.css">
    <link rel="stylesheet" href="../css/music-page.css">


<!--navigation bar start-->
<nav aria-label="Main Navigation">
    <a href="../index.html">
        <img id="navbar-logo" src="../images/renossant.png">
    </a>
    <div class="menu-toggle" id="menu-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="nav-links" id="nav-links">
        <a href="../music">Music</a>
        <a href="../publishing">Publishing</a>
        <a href="../merch">Merch</a>
        <a href="../about">About</a>
        <a href="../connect">Connect</a>
    </div>
    <div class="page-title">Page Title</div> <!-- change page title -->
</nav>
<!--navigation bar end-->


<script src="../js/navigation-bar.js" defer></script>