<link rel="stylesheet" href="../css/global.css">
<link rel="stylesheet" href="../css/navigation-bar.css">


<!--navigation bar start-->
<nav aria-label="Main Navigation">
    <a href="../index.html">
        <img id="navbar-logo" src="../images/renossant.png">
    </a>
    <div class="menu-toggle" id="menu-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="nav-links" id="nav-links">
        <a href="">Music</a>
        <a href="../artists">Publishing</a>
        <a href="../merch">Merch</a>
        <a href="../about">About</a>
        <a href="../connect">Connect</a>
    </div>
</nav>
<!--navigation bar end-->


<script src="../js/navigation-bar.js" defer></script>