 <!-- photo strip start-->
<div class="photo-strip-wrapper">
    <div class="photo-strip">
        <!-- First Set of Images -->
        <img src="images/produkt1.png">
        <img src="images/produkt2.png">
        <img src="images/produkt3.png">
        <img src="images/produkt4.png">
        <img src="images/produkt5.png">
        <img src="images/produkt6.png">
        <img src="images/produkt7.png">
        <img src="images/produkt8.png">
        <img src="images/produkt9.png">
        <img src="images/produkt10.png">
        <img src="images/produkt11.png">
        <img src="images/produkt12.png">

        <!-- second set of images -->
        <img src="images/produkt1.png">
        <img src="images/produkt2.png">
        <img src="images/produkt3.png">
        <img src="images/produkt4.png">
        <img src="images/produkt5.png">
        <img src="images/produkt6.png">
        <img src="images/produkt7.png">
        <img src="images/produkt8.png">
        <img src="images/produkt9.png">
        <img src="images/produkt10.png">
        <img src="images/produkt11.png">
        <img src="images/produkt12.png">

        <!-- third set of images -->
        <img src="images/produkt1.png">
        <img src="images/produkt2.png">
        <img src="images/produkt3.png">
        <img src="images/produkt4.png">
        <img src="images/produkt5.png">
        <img src="images/produkt6.png">
        <img src="images/produkt7.png">
        <img src="images/produkt8.png">
        <img src="images/produkt9.png">
        <img src="images/produkt10.png">
        <img src="images/produkt11.png">
        <img src="images/produkt12.png">
    </div>
</div>
<!-- photo strip end -->