.playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
}

.playlist2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
}

.audio-card {
    background: #f5f5f5;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border: 2px solid #ffffff;
    text-align: center;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    position: relative;
    width: 300px;
}

.new-tag{
    color: red;
    position: absolute;
    margin-top: -45px;
    font-size: 25px;
    font-weight: 600;
    left: 40px;
    z-index: 0;
}

.hot-tag{
    color: #ba9dc7;
    position: absolute;
    margin-top: -45px;
    font-size: 25px;
    font-weight: 600;
    left: 40px;
    z-index: 0;
}

.hot-tag-mini{
    color: #ba9dc7;
    position: absolute;
    margin-top: -33px;
    font-size: 20px;
    font-weight: 600;
    left: 20px;
    z-index: 0;
}

.audio-card-mini {
    display: flex;
    background: #f5f5f5;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border: 2px solid #ffffff;
    text-align: left;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.audio-card.playing {
    border: 2px solid #6d049eff;
    animation: pulseGlow 4s infinite ease-in-out;
}

.audio-card-mini.playing {
    border: 2px solid #6d049eff;
    animation: pulseGlow 4s infinite ease-in-out;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 0 rgba(109, 4, 158, 0.0);
    }
    50% {
        box-shadow: 0 0 60px rgba(109, 4, 158, 0.6);
    }
        100% {
        box-shadow: 0 0 0 rgba(109, 4, 158, 0.0);
    }
}

.album-art {
    width: 300px;
    max-width: 300px;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 5px;
    object-fit:cover;
    object-position: top;
}

.album-art-mini {
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
    object-position: top;
}

.mini-wrapper-left{
    padding-right: 15px;
    align-content: center;
}

.mini-wrapper-right{
    width: 100%;
    align-content: center;
    justify-content: left;
}

.progress-container {
    width: 100%;
    height: 4px;
    background-color: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #6d049e;
    border-radius: 4px;
    transition: width 0.2s ease;
}

.time-wrapper {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 3px;
    z-index: 0;
}

.restart-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #ba9dc7;
    border-radius: 50%;
    transition: background 0.2s;
}

.time-display{
    color: #4d4d4d;
    font-size: 10px;
    font-family: monospace;
    align-content: right;
    justify-content: right;
    position: relative;
    padding: 4px;
}

.play-btn-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 20px;
    padding: 5px;
    z-index: 0;
}

.play-btn-box2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.play-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 30px;
}

.play-btn-wrapper::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 3px solid transparent;
    border-top: 3px solid #ba9dc7;
    border-radius: 50%;
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity 0.3s ease;
    z-index: 1;
}

.play-btn-wrapper.playing::before {
    opacity: 1;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.play-btn {
    background-color: #f5f5f5;
    position: relative;
    z-index: 2;
    color: #6d049eff;
    border: 2px solid #6d049eff;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    align-items: center;
    justify-content: center;
}

.metadata {
    font-size: 11px;
    color: #59ad6b;
    margin-bottom: 3px;
}

.track-text .artist {
    font-size: 1.3rem;
    color: #6d049eff;
}

.track-text .title { 
    font-size: 1.5rem;
    font-weight: 600;
    margin: 4px 0;
    color: #4d4d4d;
}

.track-text .title2 {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 4px 0;
    margin-bottom: 16px;
    color: #4d4d4d;
}

.track-text .credits {
    font-size: 0.85rem;
    color: #4d4d4d;
}

.wave {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 12px;
    height: 20px;
    visibility: hidden;
}

.wave span {
    width: 4px;
    height: 4px;
    background: #6d049eff;
    animation: bounce 1s infinite ease-in-out alternate;
}

.wave span:nth-child(2) { animation-delay: 0.1s; }
.wave span:nth-child(3) { animation-delay: 0.2s; }
.wave span:nth-child(4) { animation-delay: 0.3s; }

@keyframes bounce {
    0% { height: 4px; }
    100% { height: 20px; }
}

.audio-card.playing .wave {
    visibility: visible;
}
