.video-playlist{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
}

.video-card{
  background: #f5f5f5;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border: 1px  #ba9dc7;
    text-align: center;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    position: relative;
    width: 450px;
    border-style:ridge;
}
   
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;
    transition: all 0.6s ease;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

.cinema-mode {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1) !important;
    width: 80% !important;
    height: auto !important;
    max-width: 1280px !important;
    aspect-ratio: 16/9;
    z-index: 2000;
    padding-bottom: 0 !important;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    opacity: 1;
    transition: transform .6s ease, opacity .6s ease;
    scale: 1;
}

.cinema-mode-start {
    transform: translate(-50%, -50%) scale(.8);
    opacity: 0;
}

.video-title{
    color: #6d049eff;
    font-size: 25px;
}

.video-caption{
    color:#4d4d4d;
    font-weight: 100;
}